h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

a,
a:visited {
  color: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  background-color: transparent;
  color: var(--clr-soft-white);
}

button:not(:disabled):hover {
  cursor: pointer;
}

img,
svg {
  display: block;
  max-width: 100%;
}
