.header {
  display: flex;
  align-items: center;
  padding-top: 0.63rem;
  padding-bottom: 0.63rem;
  height: var(--header-height);
  position: relative;

  z-index: 2;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & .mobile-menu {
    margin-right: 0.13rem;
  }

  & .cart {
    padding: 0.625rem;
  }

  .navigation {
    display: none;
  }

  .lang-selector__wrapper {
    display: none;
  }

  @media screen and (min-width: 1243px) {
    & {
      padding-top: 1rem;
      padding-bottom: 1rem;

      --header-height: 5rem;
    }

    .navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 3rem;

      .nav-list {
        --border-radius: 0.25rem;

        display: flex;

        .button {
          border-radius: 0;
          padding: 1rem;
        }

        & li:first-child .button {
          border-top-left-radius: var(--border-radius);
          border-bottom-left-radius: var(--border-radius);
        }
        & li:last-child .button {
          border-top-right-radius: var(--border-radius);
          border-bottom-right-radius: var(--border-radius);
        }
      }

      .nav-list--redirect-link {
        justify-content: space-between;
        gap: 2rem;
      }
    }

    .lang-selector__wrapper {
      display: flex;
      align-items: center;
    }

    .cart--desktop {
      display: flex;
      align-items: center;
      gap: 4px;

      & span {
        color: var(--clr-soft-white-st);
      }
    }

    .mobile-menu,
    .cart {
      display: none;
    }
  }
}
