.hero {
  --pb: 1rem;

  position: relative;
  padding-bottom: var(--pb);
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  top: calc(var(--header-height) * -1);

  &__container {
    margin-top: auto;
  }

  &__subtitle {
    margin-bottom: 0.62rem;
  }

  &__title {
    margin-bottom: 2.5rem;
  }

  @media screen and (max-width: 1243px) {
    &__title {
      font-size: 2.5rem;
      line-height: 105%;
      letter-spacing: -0.1rem;
    }
  }

  &__scroll-button,
  &__scroll-button:visited {
    color: var(--clr-soft-white);
    opacity: 0.25;
  }

  &__scroll-button .switch {
    pointer-events: none;
  }

  &__bg-video {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    top: 0;
    z-index: -2;

    & video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .action-controls-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__scroll-button {
    display: inline-flex;
    align-items: center;
    gap: 0.63rem;
  }

  @media screen and (min-width: 1244px) {
    & {
      --header-height: 4.75rem;
    }

    &__content-wrapper {
      max-width: 68.875rem;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    .action-controls-wrapper {
      width: 100%;

      & .chat-button {
        margin-left: auto;
      }
    }

    &__scroll-button {
      position: absolute;
      left: -60px;
      top: 65%;
      transform: rotate(270deg);
    }
  }
}
